<<<<<<< HEAD
.slider {
    position: flex;
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .image {
    width: 100%;
    height: 30rem;
    border-radius: 5px;
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 300px;
    font-size: 3rem;
    color: #375cb3;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 300px;
    font-size: 3rem;
    color: #375cb3;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 1;
    transform: scale(1.08);
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
=======
.slider {
    position: flex;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 60vh;
    height: 60vh;
    border-radius: 10px;
  }
  
  .right-arrow {
    position: absolute;
    top: 60%;
    right: 300px;
    font-size: 3rem;
    color: #375cb3;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 60%;
    left: 300px;
    font-size: 3rem;
    color: #375cb3;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
>>>>>>> ea20c38978ad516912f6dd644651f99eb7a9662c
  